<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

</head>
<body>
    <% include ../partials/header %>
                    <ul class="nav navbar-nav navbar-right">
                    <% if(uid != null) { %>
                        <li class=""><a href="/logout">Logout</a></li>
                    <% } else if(uid == null) { %>
                        <li class=""><a href="/loginPage">Login</a></li>
                        <li class=""><a href="/registerPage">Register</a></li>
                    <% } %>
            </ul>
        </div>
  <!--/.nav-collapse -->
    </div>
<!--/.container-fluid -->
  </nav>

    <div id="content"></div>

    <div id="postings">
        <% if (searchResults){ %>
            <div>Available Postings</div>
            <% searchResults.forEach(function(posting) { %>
                <div>
                    <% if((posting.price % 1) == 0){ %>
                        <span>$<%= posting.price %>.00 - </span>
                    <% }else if(((posting.price*10) % 1) == 0){ %>
                        <span>$<%= posting.price %>0 - </span>
                    <% }else{ %>
                        <span>$<%= posting.price %> - </span>
                    <% } %>    
                    <span>Book Condition: <%= posting.book_condition %> - </span>
                    <% if (uid==null){ %>
                        <a href="/loginPage">Please login to contact seller</a>
                    <% } else { %>
                        <a href="/postingDetails/<%= posting.id  %>">Details</a>
                    <% } %>
                    
                </div>
            <% }); %>
        <% } %>
        <a id = "amazonLink" href="" target="_blank">Purchase from Amazon</a>
        
    </div>
    
    <% include ../partials/footer %>
    <script type="text/javascript" src="/assets/javascript/search.js"></script>
</body>
</html>