<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head %>

</head>
<body>
    <% include ../partials/header %>
                    

    <div id="content"></div>

    <div id="postings">
        <% if (searchResults){ %>
            <p class="postTitle">Available Postings</p>
            <% searchResults.forEach(function(posting) { %>
                <div>
                    <% if((posting.price % 1) == 0){ %>
                        <span>$<%= posting.price %>.00 - </span>
                    <% }else if(((posting.price*10) % 1) == 0){ %>
                        <span>$<%= posting.price %>0 - </span>
                    <% }else{ %>
                        <span>$<%= posting.price %> - </span>
                    <% } %>    
                    <span>Book Condition: <%= posting.book_condition %> - </span>
                    <% if (req==null){ %>
                        <a href="/loginPage<%= nextRoute %>/ <%= searchTerm %>">Please login to contact seller</a>
                    <% } else { %>
                        <a href="/postingDetails/<%= posting.id  %>">Details</a>
                    <% } %>
                    
                </div>
            <% }); %>
        <% } %>
        <div id="amazon"><a id="amazonLink" href="" target="_blank">Purchase from Amazon</a></div>
        
    </div>
    
    <% include ../partials/footer %>
    <script type="text/javascript" src="/assets/javascript/search.js"></script>
</body>
</html>